/* ALL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    top: 0;
    height: 50px;
    width: 100%;
    background-color: black;
    border: 1px solid #fff;
    position: fixed;
}

    .buttonswrapper{
        display: flex;
        justify-content: right;
        height: max-content;
        padding: 10px;
    }

    #speakerview{
        color: #fff;
        background-color: rgba(128, 128, 128, 0.671);
        padding: 5px;
        border-radius: 7px;
        margin-right: 10px;
        
    }

    #fullscreen{
        color: #fff;
        background-color: rgba(128, 128, 128, 0.671);
        padding: 5px;
        border-radius: 7px;
    }



main{
    width: 100%;
    background-color: black;
    overflow: scroll;
}

    .all-video-cont{
        padding: 100px 0;
        margin: 0 auto;
        width: 80%;
        max-width: 1624px;
        min-height: 100vh;
        border: 1px solid #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .videocallbox{
        width: calc( 100% / 7 );
        padding: 5px;
    }

    img{
        width: 100%;
        height: 100%;
    }


footer{
    height: 50px;
    width: 100%;
    background-color: grey;
    border: 1px blueviolet solid;
    position: fixed;
    bottom: 0;
}


