/* ALL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header{
    top: 0;
    height: 50px;
    width: 100%;
    background-color: black;
    /* border: 1px solid #fff; */
    position: fixed;
    z-index: 999
}

    #topbuttonswrapper{
        display: flex;
        justify-content: right;
        height: max-content;
        padding: 10px;
    }

    #speakerview{
        color: #fff;
        background-color: rgba(128, 128, 128, 0.671);
        padding: 5px;
        border-radius: 7px;
        margin-right: 10px;
        
    }

    #fullscreen{
        color: #fff;
        background-color: rgba(128, 128, 128, 0.671);
        padding: 5px;
        border-radius: 7px;
    }



main{
    width: 100%;
    background-color: black;
    overflow: scroll;
}

    .all-video-cont{
        padding: 100px 0;
        margin: 0 auto;
        width: 80%;
        max-width: 1624px;
        min-height: 100vh;
        /* border: 1px solid #fff; */
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        z-index: 0
    }

    .videocallbox{
        width: calc( 100% / 7 );
        padding: 5px;
        position: relative;
    }

    img{
        width: 100%;
        height: 100%;
    }

    .label{
        position: absolute;
        display: flex;
        color: #fff;
        display: inline-block;
        width: fit-content;
        left: 5px;
        bottom: 40px;
        background-color: #4a4a4a85;
    }

footer{
    width: 100%;
    background-color: #222222;
    /* border: 1px blueviolet solid; */
    position: fixed;
    bottom: 0;
}

   #botbuttonwrapper{
    display: flex;
    justify-content: space-between;
   } 

        #privacy{
            max-width: 200px;
            min-width: 200px;
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .caret{
            font-size: 15px;
            margin: 0 3px;
            padding-right: 5px;
            color: #fff;
        }

            .buttonfooter{
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-left: 10px;
                font-size: 25px;
                color: #fff;
            }
            
            #buttonname{
                font-size: 15px;
                color: #fff;
            }

                .share{
                    color: green;
                }


        #tools{
            min-width: 550px;
            max-width: 1000px;
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        #endcall{
            max-width: 200px;
            min-width: 200px;
            height: 50px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        #endcallbutton{
            width: 10%;
            min-width: 200px;
            height: 100%;
            margin: 10px 0;
            color: red;
            background-color: #4a4a4a;
            display: flex;
            align-items: center;
            justify-content: center;
            vertical-align: middle;
        }